---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="bg-slate-100 py-10 flex flex-col md:flex-row md:gap-10 px-10 lg:px-32">
    <div
      class="flex flex-col justify-center gap-5 bg-white shadow-lg rounded-lg p-6 md:w-1/2 hover:shadow-2xl transition-shadow duration-300"
    >
      <div class="flex flex-col gap-2">
        <h1 class="text-2xl font-copperplate font-bold">Contactez-moi</h1>
        <p class="text-gray-600">
          Une question ou un projet ? <br />Je suis à votre écoute pour répondre
          à vos besoins et échanger avec vous.
        </p>
      </div>
      <div class="flex flex-col gap-2">
        <h2 class="text-2xl font-copperplate font-bold">
          Informations de contact
        </h2>
        <div class="flex items-center gap-5">
          <div class="w-5"><img src="/envelope.svg" alt="envelope" /></div>
          <span class="text-gray-600">nicolas.hautin@outlook.fr</span>
        </div>
        <div class="flex items-center gap-5">
          <div class="w-5"><img src="/phone.svg" alt="telephone" /></div>
          <span class="text-gray-600">06 43 50 89 80</span>
        </div>
        <div class="mt-2">
          <a
            class="bg-black border-2 border-black text-white px-5 py-3 hover:bg-white hover:text-black hover:border-2 inline-block"
            href="/CV.pdf"
            target="_blank">Voir mon CV</a
          >
        </div>
      </div>
    </div>

    <div
      class="bg-white shadow-lg rounded-lg p-6 mt-8 md:mt-0 md:w-1/2 hover:shadow-2xl transition-shadow duration-300"
    >
      <h2 class="text-2xl font-copperplate font-bold text-black mb-4">
        Envoyez-moi un message
      </h2>
      <form>
        <div class="mb-4 flex gap-5">
          <div class="w-1/2">
            <label for="name" class="block text-gray-600 font-medium mb-2"
              >Nom</label
            >
            <input
              type="text"
              id="name"
              name="name"
              class="w-full border border-gray-300 rounded-lg px-4 py-2 focus:ring-2 focus:ring-black focus:outline-none"
              placeholder="Votre nom"
            />
          </div>
          <div class="w-1/2">
            <label for="name" class="block text-gray-600 font-medium mb-2"
              >Prénom</label
            >
            <input
              type="text"
              id="prénom"
              name="name"
              class="w-full border border-gray-300 rounded-lg px-4 py-2 focus:ring-2 focus:ring-black focus:outline-none"
              placeholder="Votre prénom"
            />
          </div>
        </div>

        <div class="mb-4">
          <label for="email" class="block text-gray-600 font-medium mb-2"
            >Email</label
          >
          <input
            type="email"
            id="email"
            name="email"
            class="w-full border border-gray-300 rounded-lg px-4 py-2 focus:ring-2 focus:ring-black focus:outline-none"
            placeholder="Votre adresse email"
          />
        </div>
        <div class="mb-4">
          <label for="message" class="block text-gray-600 font-medium mb-2"
            >Message</label
          >
          <textarea
            id="message"
            name="message"
            rows="5"
            class="w-full border border-gray-300 rounded-lg px-4 py-2 focus:ring-2 focus:ring-black focus:outline-none"
            placeholder="Votre message"></textarea>
        </div>
        <div>
          <a
            class="bg-black border-2 border-black text-white px-5 py-3 hover:bg-white hover:text-black hover:border-2"
            href="#">Envoyer</a
          >
        </div>
      </form>
    </div>
  </div>
</BaseLayout>
