---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body> 

</head>
<body>
	<Header/>
    <div class="slider max-h-screen ">
        <div class="slider-content max-h-full">
            <div class="flex h-screen items-center justify-center -mt-24 px-32 w-full">
                <div class="w-1/2 flex flex-col gap-5 justify-center">
                    <button class="border-2 border-black px-5 py-2 font-bold w-32">2024-2025</button>
                    <h1 class="text-6xl">Portfolio</h1>
                    <p class="text-xl">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <button class="bg-black text-white px-5 py-3 w-44">Mes réalisations</button>
                </div>
                <div class="w-1/2 flex items-center justify-center">
                    <img src="./pc.png" alt="#" />
                </div>
            </div>
            <div class="flex h-screen items-center justify-center -mt-24 px-32 w-full">
                <div class="w-1/2 flex flex-col gap-5 justify-center">
                    <button class="border-2 border-black px-5 py-2 font-bold w-32">2024-2025</button>
                    <h1 class="text-6xl">Web designer</h1>
                    <p class="text-xl">Lorem Ipsum is simply dummy text of the printing andtypesetting industry.</p>
                    <button class="bg-black text-white px-5 py-3 w-44">Mes réalisations</button>
                </div>
                <div class="w-1/2 flex items-center justify-center">
                    <img src="./pc.png" alt="#" />
                </div>
            </div>
            <div class="flex h-screen items-center justify-center -mt-24 px-32 w-full">
                <div class="w-1/2 py-16 flex flex-col gap-5 justify-center">
                    <button class="border-2 border-black px-5 py-2 font-bold w-32">2024-2025</button>
                    <h1 class="text-6xl">Motion designer</h1>
                    <p class="text-xl">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <button class="bg-black text-white px-5 py-3 w-44">Mes réalisations</button>
                </div>
                <div class="w-1/2 flex items-center justify-center">
                    <img src="./pc.png" alt="#" />
                </div>
            </div>
        </div>
    </div>
    <section class="bg-black text-white px-32 h-screen flex flex-col justify-center items-center">
        <div class="flex gap-5">
            <div class="w-1/2">
                <h2 class="text-4xl">A propos</h2>
                <p class="text-lg">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
            <div class="w-1/2">
                <img src="path/to/your/image.jpg" alt="Image description" class="w-full h-auto">
            </div>
        </div>
        <div class="relative overflow-hidden h-36 w-full">
            <div class="absolute w-full h-36 flex items-center animate-marquee whitespace-nowrap">
                <span class="text-9xl border-white border-2 font-bold">Nicolas HAUTIN</span>
            </div>
        </div>
    </section>
    <Footer />

</body>

</html>