---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
).slice(0,4);
---

<BaseLayout>

    <div class="slider -m-72">
      <div class="slider-content max-h-full">
        <div
          class="flex flex-col lg:flex-row h-screen items-center justify-center lg:-mt-24 p-5 lg:px-32 w-full gap-16 lg:gap-0"
        >
          <div class="lg:w-1/2 flex flex-col gap-5 justify-center items-center">
            <h1 class="text-2xl lg:text-8xl font-medium">Portfolio</h1>
            <p class="text-sm lg:text-xl text-center">
              Bienvenue dans l'univers créatif de Nicolas HAUTIN !</br>Découvrez mes
              projets et compétences issus de ma formation MMI.
            </p>
            <button class="bg-black text-white px-5 py-3 w-44"
              >Mes réalisations</button
            >
          </div>
        </div>
        <div
          class="flex flex-col lg:flex-row h-screen items-center justify-center lg:-mt-24 p-5 lg:px-32 w-full gap-16 lg:gap-0"
        >
          <div
            class="lg:w-1/2 flex flex-col gap-5 justify-center items-center lg:items-start"
          >
            <button class="border-2 border-black px-5 py-2 font-bold w-32"
              >2024-2025</button
            >
            <h1 class="text-2xl lg:text-8xl font-medium">Web designer</h1>
            <p class="text-sm lg:text-xl text-center lg:text-left">
              J"imagine et conçois des interfaces élégantes et intuitives pour offrir une expérience utilisateur optimale.
            </p>
            <button class="bg-black text-white px-5 py-3 w-44"
              >Mes réalisations</button
            >
          </div>
          <div class="lg: w-1/2 hidden lg:flex lg:items-center justify-center">
            <img
              src="./pc2.webp"
              alt="ordinateur2"
              class="w-3/4"
            />
          </div>
        </div>
        <div
          class="flex flex-col lg:flex-row h-screen items-center justify-center lg:-mt-24 p-5 lg:px-32 w-full gap-16 lg:gap-0"
        >
          <div class="lg:w-1/2 flex flex-col gap-5 justify-center items-center lg:items-start">
            <button class="border-2 border-black px-5 py-2 font-bold w-32"
              >2024-2025</button
            >
            <h1 class="text-2xl lg:text-8xl font-medium">Motion designer</h1>
            <p class="text-sm lg:text-xl text-center lg:text-left">
              Avec une passion pour l'animation, je donne vie aux concepts visuels grâce aux outils de motion design
            </p>
            <button class="bg-black text-white px-5 py-3 w-44"
              >Mes réalisations</button>
          </div>
          <div class="w-1/2 flex items-center justify-center">
            <img src="./pc3.png" alt="ordinateur" class="w-3/4"/>
          </div>
        </div>
        <div
        class="flex h-screen items-center justify-center -mt-24 px-32 w-full"
      >
        <div class="w-1/2 flex flex-col gap-5 justify-center items-center">
          <h1 class="text-8xl font-medium font-syne text-center">Portfolio</h1>
          <p class="text-sm lg:text-xl text-center">
            Bienvenue dans l'univers créatif de Nicolas HAUTIN ! </br>Découvrez mes
            projets et compétences issus de ma formation MMI.
          </p>
          <button class="bg-black border-2 text-white px-5 py-3 w-44 hover:bg-white hover:text-black hover:border-black hover:border-2"
          >Mes réalisations</button
        >
        </div>
      </div> 
      </div>
    </div>
    <section
      class="flex flex-col lg:flex-row gap-5">
      <div class="p-10 flex flex-col justify-center items-center lg:flex lg:w-1/2 lg:ml-32 lg:pr-48 gap-5">
        <div class="flex flex-col justify-center gap-5">
          <h2 class="text-4xl font-copperplate font-bold">À propos</h2>
          <p class="text-lg font-montserrat">Bonjour et bienvenue sur mon portfolio !</p>
          <p class="text-sm lg:text-lg font-montserrat">
            Je m'appelle Nicolas HAUTIN et je suis actuellement en troisième
            année de BUT Métiers du Multimédia et de l'Internet (MMI). Passionné
            par la création numérique sous toutes ses formes, je me spécialise
            en webdesign, production vidéo, et design UI/UX. Mon objectif est de
            concevoir des expériences visuelles et interactives qui allient
            esthétique et fonctionnalité.
          </p>
        </div>
        <button class="bg-black text-white px-5 py-3 font-bold w-72"
          >Découvrir mes réalisations</button
        >
      </div>
      <div class="lg:w-1/2 lg:p-32 bg-black flex justify-start">
        <ul class="p-10 lg:p-5 text-white flex flex-col gap-16">
          <li class="flex gap-10">
            <img
              src="/ordinateur.svg "
              alt="ampoule"
              class="lg:w-16 w-10"
              loading="lazy"
            />
            <div>
              <h3 class="text-lg lg:text-xl font-semibold font-copperplate">Webdesign</h3>
              <p class="text-sm lg:text-lg font-montserrat">
                Je conçois des designs modernes et attrayants pour le web, en
                mettant l'accent sur l'ergonomie et l'esthétique.
              </p>
            </div>
          </li>
          <li class="flex gap-10">
            <img
              src="/camera.svg "
              alt="pinceau"
              class="lg:w-16 w-10"
              loading="lazy"
            />
            <div>
              <h3 class="text-lg lg:text-xl font-semibold font-copperplate">
                Production vidéo
              </h3>

              <p class="text-sm lg:text-lg font-montserrat">
                Je crée et monte des vidéos captivantes qui racontent des
                histoires et mettent en valeur votre message.
              </p>
            </div>
          </li>
          <li class="flex gap-10">
            <img
              src="/pinceau.svg "
              alt=""
              class="lg:w-16 w-10"
              loading="lazy"
            />
            <div>
              <h3 class="text-lg lg:text-xl font-semibold font-copperplate">UI/UX Design</h3>
              <p class="text-sm lg:text-lg font-montserrat">
                Je conçois des interfaces intuitives et centrées sur
                l'utilisateur, pour des expériences fluides et engageantes.
              </p>
            </div>
          </li>
          <li class="flex gap-10">
            <img
              src="/ampoule.svg"
              alt=""
              class="lg:w-12 w-10"
              loading="lazy"
            />
            <div>
              <h3 class="text-lg lg:text-xl font-semibold font-copperplate">Créativité</h3>
              <p class="text-lg  font-montserrat">
                J'aime transformer les idées en projets concrets et uniques.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section
      class="flex flex-col lg:flex-row items-center justify-center py-40"
    >
      <ul class="flex flex-col lg:flex-row gap-20">
        <li class="flex flex-col gap-2">
          <div class="flex items-end font-bold text-5xl gap-2 justify-center">
            <p class="number1 flex flex-col-reverse text-5xl"></p>
            <span class="font-copperplate">ans</span>
          </div>
          <p class="flex justify-center uppercase font-copperplatelight">
            d'expérience
          </p>
        </li>
        <li class="flex flex-col gap-2">
          <div class="flex items-end font-bold text-5xl gap-2 justify-center">
            <p class="number2 flex flex-col-reverse text-5xl"></p>
            <span class="font-copperplate">+</span>
          </div>
          <p class="flex justify-center uppercase font-copperplatelight">
            Projets réalisés
          </p>
        </li>

        <li class="flex flex-col gap-2">
          <div class="flex items-end font-bold text-5xl gap-2 justify-center">
            <p class="number3 flex flex-col-reverse text-5xl"></p>
            <span class="font-copperplate">h</span>
          </div>
          <p class="flex justify-center uppercase font-copperplatelight">
            Production vidéo
          </p>
        </li>
        <li class="flex flex-col gap-2">
          <div class="flex items-end font-bold text-5xl gap-2 justify-center">
            <p class="number4 flex flex-col-reverse text-5xl"></p>
            <span class="font-copperplate">+</span>
          </div>
          <p class="flex justify-center uppercase font-copperplatelight">
            Sites internet
          </p>
        </li>
      </ul>
    </section>

    <section class="flex flex-col mx-32 gap-20 ">
      <h2 class="text-4xl font-copperplate font-bold text-center">Mes réalisations</h2>
      <ul class="flex flex-col gap-14">
        {
          posts.map((post, index) => (
            <li>
              <a href={`/blog/${post.slug}/`} class={`flex flex-col lg:flex-row gap-40  ${index % 2 === 0 ? '' : 'flex-row-reverse lg:flex-row-reverse'}`}>
                <img src={post.data.heroImage} alt="image" class="w-1/2 -m-[2px]"/>
                <div class="flex flex-col justify-end w-1/2 gap-2">
                  <h3 class="text-4xl font-bold font-copperplate">{post.data.title}</h3>
                  <p class="text-lg font-montserrat">{post.data.description}</p>
                </div>
              </a>
            </li>
          ))
        }

      </ul>
    </section>


</BaseLayout>


<script>
  document.addEventListener("DOMContentLoaded", function () {
    const observer = new IntersectionObserver((entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          if (entry.target.classList.contains("number1")) {
            entry.target.classList.add("animate-counter-number1");
          } else if (entry.target.classList.contains("number2")) {
            entry.target.classList.add("animate-counter-number2");
          } else if (entry.target.classList.contains("number3")) {
            entry.target.classList.add("animate-counter-number3");
          } else if (entry.target.classList.contains("number4")) {
            entry.target.classList.add("animate-counter-number4");
          }
          observer.unobserve(entry.target);
        }
      });
    });

    const targets = document.querySelectorAll(
      ".number1, .number2, .number3, .number4"
    );
    targets.forEach((target) => {
      observer.observe(target);
    });
  });
</script>