---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav class=" lg:flex justify-between items-center p-6 max-h-36 z-10 hidden">
		<p class="font-sans font-semibold">Nicolas HAUTIN</p>
		<div class="flex gap-5 justify-center items-center font-sans font-semibold">
			<HeaderLink href="/">Accueil</HeaderLink>
			<HeaderLink href="/blog">Portfolio</HeaderLink>
			<HeaderLink href="#">Contact</HeaderLink>
		</div>
		<div class="social-links">
			<button class="bg-black text-white px-5 py-3 w-44"
        >Mes réalisations</button
      >
		</div>
	</nav>
</header>
<style>



	nav a {
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
